.movieCard {
  display: flex;
  flex-flow: column;
  background-color: black;
  color: var(--light-shade);
  margin: 0.5em;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  box-shadow: 0 8px 6px -6px black;
  /* flex: 1; */
}
.movieCardAdult {
  background-color: red;
}

.movieCard:hover {
  background-color: gray;
  cursor: pointer;
}
