.popup {
  width: 800px;
  /* height: 800px; */
  padding: 0 0.5em 1em 0.5em;
  background-color: var(--dark-shade);
  border-radius: 0.2em;
  box-shadow: 5px 5px 10px 1px black;
  color: var(--light-shade);
  /* overflow: hidden; */
  display: flex;
  flex-flow: column;
  /* overflow-y: scroll; */
}
@media only screen and (max-width: 850px) {
  .popup {
    width: 95%;
  }
}

.popupBackdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  /* height: 100vh; */
  width: 100vw;
  padding-top: 2em;
  /* align-items: center; */
  overflow-y: scroll;
  background: linear-gradient(
    180deg,
    rgba(100, 100, 100, 0.5) 25%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

.popupBody {
  /* overflow-y: scroll; */
  padding: 0 0.5em;
  /* height: 90%; */
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popupImageInfo {
  display: flex;
  justify-content: space-between;
}

.popUpImageInfoCol {
  display: flex;
  flex-flow: column;
  align-content: space-around;
  flex: 1;
  justify-content: space-between;
  padding-bottom: 1em;
}

/* .popupBottomHalf {
  
} */

.popupCredits {
  margin-top: 1em;
  max-height: 10em;
  overflow-y: auto;
}

.popupSimilarCards {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
