:root {
    --light-shade: #f2eff2;
    --light-accent: #81a9b8;
    --brand-color: #b7bb46;
    --dark-accent: #7c8498;
    --dark-shade: #3c475f;
}

body {
    background-color: var(--light-shade)
}

.App{
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height: 100vh; */
}
