:root {
  --light-accent: rgb(144, 55, 73);
  --brand-color: rgb(232, 69, 69);
  --dark-accent: rgb(83, 53, 74);
  --dark-shade: rgb(43, 46, 74);
  --dark-shade-50: rgba(43, 46, 74, 0.5);
  --dark-shade-10: rgba(43, 46, 74, 0.1);
}

#root {
  overflow-x: hidden;
}

body {
  background-color: var(--dark-shade);
  overflow-x: hidden;
}

/* .App {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-bottom: 5em;
} */

.movieCardArea {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--dark-shade);
  color: var(--light-shade);
  text-align: center;
  padding: 0.5em 0;
  left: 0;
}
